{{ partial "header.html" . }}
<header class="pageheader">
    <h4><a href="{{ .Site.BaseURL }}">Michael Gunner</a></h4>
</header>
<div class="wrap">

    <div class="colourscheme js-colour-switch">
	   <input type="checkbox" id="theme" name="theme">
    </div>

    <main class="page">
        <article class="page__article">
            <header>
		<h3 class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
            	<h1>{{ .Title }}</h1>
		    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
	    </header>
		
            <div class="article__content">
            	{{ .Content }}
	    </div>
        </article>
    </main>
</div>
<script>
    var element = document.querySelector('.page');
    var toggle = document.querySelector('.js-colour-switch');
    var checkbox = document.getElementById('theme');
    toggle.addEventListener('click', function(e) {
        e.preventDefault();
        element.classList.toggle('page--light');
	    console.log(checkbox);
        if (checkbox.checked === true) {
		console.log('checkbox false');
            checkbox.checked = false;
        } else {
		console.log('checkbox true');
            checkbox.checked = true;
        }
    });
</script>
{{ partial "footer.html" . }}
