{{ partial "header.html" . }}
<header class="pageheader">
    <h2><a href="{{ .Site.BaseURL }}">Michael Gunner</a></h2>
    <h4>front-end developer</h4>
</header>

    <main class="page">

        <label class="colourscheme js-colour-switch">            
           Switch background:
           <input type="checkbox" id="theme" name="theme">
        </label>

        <article class="page__article">
            <header>
                <h3 class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
                <h1>{{ .Title }}</h1>
                {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
            </header>

            <div class="article__content">
                {{ .Content }}
            </div>
        </article>
    </main>

{{ partial "footer.html" . }}
