{{ partial "header.html" . }}
<header class="pageheader">
    <h4><a href="{{ .Site.BaseURL }}">Michael Gunner</a></h4>
</header>
<div class="wrap">
	<labeL>Dark/Light</label>
	<input type="checkbox" id="theme" name="theme">

    <main class="page">
        <article class="page__article">
            <h3 class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
            <h1>{{ .Title }}</h1>
            {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
            {{ .Content }}
        </article>
    </main>
</div>
{{ partial "footer.html" . }}