@font-face {
    font-family: 'Jaapokki';
    src: url(../fonts/jaapokkisubtract-regular.woff) format("woff");
}

@font-face {
    font-family: 'Jaapokki-Enchance';
    src: url(../fonts/jaapokkienchance-regular.woff) format("woff");
}