html, body {
	scroll-behavior: smooth;
}

:root {
	--body-font-size: 16px;

	@include breakpoint(tablet){
		--body-font-size: 22px;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $white;
}

h6 {
	text-transform: uppercase;
	letter-spacing: 10px;	
}

p, .page__article ul li {
	font-size: var(--body-font-size);
	margin-bottom: 1em;
}

.home {
	background: url('../images/bg2-mobile.jpg'), $primary;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;

	@include breakpoint(desktop){
		background: url('../images/bg2.jpg'), $primary;
		background-size: 100%;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
	padding: $global-padding*3 $global-padding;
	
	background:  linear-gradient(0deg, $primary 0%, rgba($primary, 0.7) 100%);
	color: $white;
	text-align: center;

	h3, h1 {
		position: relative;
		z-index: 3;
	}

	h3 {
		flex: 0 0 100%;
		font-weight: 900;
		font-style: italic;
		text-transform: uppercase;
		letter-spacing: 16px;

		background: linear-gradient(20deg, $red 0%, $purple 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		word-wrap: break-word;

		@include breakpoint(tablet){
			font-size: rem-calc(70);
			margin: 0;
		}

		@include breakpoint(desktop){
			font-size: rem-calc(90);
		}
	}

	h1 {
		flex: 0 0 100%;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 6px;		
		color: $white;
		margin: rem-calc(-40 0 10);
	}	

	@include breakpoint(tablet){
		min-height: 80vh;
		padding: $global-padding*2 $global-padding;
	}
		
}

.intro {
	position: relative;
	background: $primary;
	padding: 0 $global-padding $global-padding*3;
	
	h4, h5, p {
		flex: 0 0 100%;
		max-width: rem-calc(750);
		margin-left: auto;
		margin-right: auto;
	}

	@include breakpoint(tablet){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;		
	}
}

.articlegroup {
	padding: $global-padding 0;
	background: darken($primary, 5%);

	h6 {
		padding: 0 $global-padding;

		@include breakpoint(tablet){
			padding: $global-padding $global-padding*2;
		}

	}

	// css grid
    display: grid;
    grid-gap: $grid-gap/2;
    grid-template-columns: minmax($column-min, $column-max);
    grid-auto-rows: minmax($row-min, $row-max);

    @include breakpoint(laptop){
    	grid-template-columns: minmax($column-min, 50%) minmax($column-min, 50%);
    }

    @include breakpoint(desktop){
    	grid-template-columns: minmax($column-min, 33.34%) minmax($column-min, 33.34%) minmax($column-min, 33.34%);
    }

    h6 {		
    	@include breakpoint(laptop){
			grid-column-start: span 2;
		}
		
    	@include breakpoint(desktop){
			grid-column-start: span 3;
		}		
	}

}

.articlegroup--work {
	background: $primary;
}

.article {
	padding: $global-padding;

	h2, h2 a {
		color: $secondary;
	}

	a {
		color: $white;
	}

	h2, p {
		margin-bottom: 0.8em;
	}

	p {
		line-height: 1.5;
	}

	a {
		text-decoration: none;
	}

	@include breakpoint(tablet){
		position: relative;
		overflow: hidden;
		margin: rem-calc(40 0);
		padding: $global-padding $global-padding*2;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: $global-padding*2;
			right: $global-padding*2;
			height: rem-calc(3);
			background: $primary;
			transform: translateY(rem-calc(-3));
			transition: all 0.2s ease-in-out;
		}

		&:hover::before {
			transform: translateY(0);
			background: $secondary;
		}
	}
}

.article--work {
	position: relative;
	z-index: 5;

	&::before {
		background: linear-gradient(40deg, $red 0%, $purple 80%);
	}

	@include breakpoint(tablet){
		&:hover::before {
			background: linear-gradient(40deg, $red 0%, $purple 80%);
			transition: all 0.4s ease-in-out;
		}
	}

	.readmore {
		border-color: $red;

		&:hover {
			border-color: $purple;
		}
	}

}

.meta {
	display: inline-block;
	font-size: rem-calc(18);
	background: linear-gradient(40deg, $red 0%, $purple 80%);
	background-size: rem-calc(200);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	

	@include breakpoint(tablet){
		font-size: rem-calc(20);
	}

	.meta--post {
		font-size: rem-calc(20);

		@include breakpoint(tablet){
			font-size: rem-calc(22);
		}
	}
}

.pageheader {
	background: $primary;
	position: relative;
	z-index: 6;
	padding: rem-calc(12) $global-padding 0;
	display: flex;
	align-items: center;


	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 105vh;
		background: rgba($primary, 0.8);
		z-index: 2;
	}

	h4, a {
		position: relative;
		z-index: 3;
		color: $white;
		text-decoration: none;
	}

	h4 {
		a:hover {
			color: $secondary;
			text-decoration: underline;
		}
		@include breakpoint(tablet){
			width: 100%;
			max-width: rem-calc(1000);
			margin: rem-calc(20) auto;		
		}
	}


}

.wrap {
	position: relative;
	z-index: 77;
	background: $primary;
	color: $white;
}

.colourscheme {
	max-width: rem-calc(1000);
	margin: 0 auto;

	@include breakpoint(desktop){
		margin: 0 auto;
	}	
}

.colourscheme label {
	text-indent:-9999px;
	color: transparent;
	height:0;	
}

.colourscheme input[type=checkbox] {
	appearance: none;
	display: block;
	position: relative;
	background: $white;
	width: rem-calc(100);
	height: rem-calc(20);
	margin: 0 $global-padding;

	@include breakpoint(laptop){
		margin-left: 0;
	}

	&::after {
		content: '';
		position: absolute;
		width: 50%;
		top: rem-calc(0);
		bottom: rem-calc(0);
		left: rem-calc(0);
		background: $secondary;
		transition: 0.1s ease;
	}

}

.wrap input[type=checkbox]:checked {
	&::after {
		left: 50%;
	}
}

.page {
	background: darken($primary, 6%);
	padding: $global-padding;
	min-height: 100vh;


	h1 {
		color: $secondary;
		font-size: rem-calc(32);

		@include breakpoint(tablet){
			font-size: rem-calc(36);
		}

		@include breakpoint(laptop){
			font-size: rem-calc(40);
		}

		@include breakpoint(desktop){
			font-size: rem-calc(45);
		}		
	}
	
	h3 {
		font-size: rem-calc(26);

		@include breakpoint(tablet){
			font-size: rem-calc(30);
		}

		@include breakpoint(laptop){
			font-size: rem-calc(32);
		}

		@include breakpoint(desktop){
			font-size: rem-calc(34);
		}		
	}	
}

.page--light {
	background: lighten($primary, 72%);
	color: darken($primary, 10%);

	h1, h2, h3, h4, h5, h6, p, .page__article ul li {
		color: darken($primary, 10%);
	}
} 

.page__article {
	max-width: rem-calc(1000);
	margin: rem-calc(40) auto;

	@include breakpoint(desktop){
		margin: rem-calc(100) auto;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1em;
	}
	
	ul li {
		color: $text-color;
	}

	p, ul li {
		word-wrap: break-word;
		a {
			color: $secondary;

			&:hover {
				color: darken($secondary, 5%);
			}

			&:active {
				color: darken($secondary, 8%);
			}

			&:visited {
				color: darken($secondary, 8%);
			}						
		}
		@include breakpoint(desktop){
			line-height: 1.8;
			margin-bottom: 1.5em;
		}
	}
}

.button {
	font-family: 'Movement', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
	border: 2px solid $primary;
	text-align: center;

	&:hover {
		color: $secondary;
		background: $primary;
	}

	&:active {
		color: $secondary;
		background: darken($primary, 10%);		
	}

	&:focus {
		outline: none;
		color: $secondary;
	}
}

.button--secondary {
	color: $secondary;
	border-color: $secondary;

	&:hover {
		color: $primary;
		background: $secondary;
	}

	&:active {
		color: $primary;
		background: darken($secondary, 10%);		
	}

	&:focus {
		outline: none;
		background: darken($secondary, 15%);	
		color: $primary;
	}	
}

.button--svg {
	display: block;
	width: rem-calc(40);
	padding: 0;

	svg {
		fill: rgba($secondary, 0.85);
		width: rem-calc(40);
		height: rem-calc(40);
		transition: 0.1s ease;
	}

	&:hover svg {
		fill: $secondary;
	}

	&:active {
		background: none;
		svg { fill: darken($secondary, 5%); }
	}

	&:focus {
		background: none;
		svg { fill: darken($secondary, 8%); }
	}	
}

.button--small {
	padding: rem-calc(10 35);
}

.readmore {
	font-weight: 900;
	letter-spacing: 1px;
	color: $white;
	border-bottom: 1px dashed $secondary;
	padding: rem-calc(0 0 4 0);

	&:hover {
		color: $white;
		border-bottom: 1px solid $secondary;
	}
}

footer {
	text-align: center;
	padding: $global-padding;
	background: darken($primary, 4%);
	border-top: 1px solid rgba($primary-light, 0.2);

	p {
		margin:0;
	}

	p a {
		color: $secondary;
		margin: rem-calc(5 15);
		text-decoration: none;
		border-bottom: 1px dotted $secondary;

		&:hover {
			color: $secondary;
			border-bottom: 1px solid $secondary;
		}
	}
}
