h6 {
	text-transform: uppercase;
	letter-spacing: 10px;	
}

.home {
	background: url('../images/bg.jpg'), $primary;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: color-dodge;	

	@include breakpoint(desktop){
		background-size:cover;		
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
	min-height: 105vh;
	padding: $global-padding;

	color: $white;
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 105vh;
		background: rgba($primary, 0.8);
		z-index: 2;
	}

	h3, h1 {
		position: relative;
		z-index: 3;
	}


	h3 {
		flex: 0 0 100%;
		font-weight: 900;
		font-style: italic;
		text-transform: uppercase;
		letter-spacing: 18px;

		background: linear-gradient(20deg, $red 0%, $purple 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		word-wrap: break-word;

		@include breakpoint(desktop){
			font-size: rem-calc(90);
		}
	}

	h1 {
		flex: 0 0 100%;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 12px;		
		color: $white;
		margin: rem-calc(-20 0 10);
	}	
}

.pageheader {
	background: $primary;
	position: relative;
	z-index: 6;
	padding: rem-calc(12) $global-padding;
	display: flex;
	justify-content: space-around;
	align-items: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 105vh;
		background: rgba($primary, 0.8);
		z-index: 2;
	}

	h4, a {
		position: relative;
		z-index: 3;
	}

	h4 {
		font-size: rem-calc(18);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 6px;		
		color: $white;
	}	

}

.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	background: linear-gradient(20deg, $primary 0%, darken($primary, 10%) 80%);
	padding: $global-padding*3 $global-padding;
	@include breakpoint(tablet){
		padding: $global-padding*3;
	}
	text-align: center;
	min-height: 65vh;

	h4,h5,p {
		flex: 0 0 100%;
		max-width: rem-calc(750);
		margin: 0 auto;
	}

	h4 {
		font-style: italic;
		margin: rem-calc(0 0 20);
		color: $green;
	}

	p {
		margin: rem-calc(0 0 20);
		color: rgba($white, 0.8);
	}
}

.articlegroup {

	h6 {
		background: darken($primary, 10%);
		padding: $global-padding;
		color: $white;

		@include breakpoint(tablet){
			background: none;
			padding: $global-padding*3 $global-padding 0;
			grid-column: 1/6;
			grid-row: 1;			
			text-align: center;
		}
	}

	@include breakpoint(tablet){
		background: url('../images/bg2.jpg'), linear-gradient(20deg, darken($primary, 5%) 0%, darken($primary, 10%) 80%);
		background-size: cover;
		background-attachment: fixed;
		background-blend-mode: soft-light;	
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: rem-calc(200) 1fr 1fr;
	}
}

.article {
	background: linear-gradient(20deg, darken($primary, 5%) 0%, darken($primary, 10%) 80%);
	padding: $global-padding;

	h2, h2 a {
		color: $green;
	}

	p, a {
		color: $white;
	}

	h2, p {
		margin-bottom: 0.8em;
	}

	p {
		line-height: 1.5;
	}

	a {
		text-decoration: none;
	}

	@include breakpoint(tablet){
		display: flex;
		align-items: center;
		width: 100%;
		margin: rem-calc(100 0);
		padding: rem-calc(50);
		transform: skew(-10deg);
		transition: border-radius 0.2s ease;
		border: 10px solid $green;

		p, a {
			transform: skew(10deg);
		}
	}
}

.article:first-of-type {
	@include breakpoint(tablet){
		grid-column: 1/6;
		grid-row: 2;
		margin-bottom: 0;
	}

	@include breakpoint(desktop){
		grid-column: 3/6;
	}
}

.article:last-of-type {
	@include breakpoint(tablet){
		grid-column: 1/6;
	}

	@include breakpoint(desktop){
		grid-column: 3/6;
	}
}

.wrap {
	position: relative;
	z-index: 77;
	background: $primary;
	color: $white;
	padding: rem-calc(40 0 0);
}

.wrap label {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.wrap input[type=checkbox] {
	appearance: none;
	display: block;
	position: relative;
	background: $white;
	width: rem-calc(100);
	height: rem-calc(20);
	margin: rem-calc(8) auto rem-calc(40);

	&::after {
		content: '';
		position: absolute;
		width: 40%;
		top: rem-calc(0);
		bottom: rem-calc(0);
		left: rem-calc(0);
		background: $secondary;
		transition: 0.1s ease;
	}
}

.wrap input[type=checkbox]:checked {
	&::after {
		left: auto;
		right: rem-calc(0);
	}
}

.wrap input[type=checkbox]:checked + .page {
	background: $white;
	color: darken($primary, 10%);

	h1, h2, h3, h4, h5, h6, p {
		color: darken($primary, 10%);
	}
} 

.page {
	background: linear-gradient(20deg, $primary 0%, darken($primary, 10%) 80%);
	padding: $global-padding;
	min-height: 100vh;
}


.page__article {
	max-width: rem-calc(800);
	margin: rem-calc(100) auto;
	color: $white;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1em;
	}

	p {
		color: $white;

		@include breakpoint(desktop){
			line-height: 1.8;
			font-size: rem-calc(22);
			margin-bottom: 1.5em;
		}
	}
}

.button {
	// transform: skew(-10deg);
	border: 2px solid $primary;

	&:hover {
		color: $secondary;
		background: $primary;
	}
}

.button--secondary {
	color: $secondary;
	border-color: $secondary;

	&:hover {
		color: $primary;
		background: $secondary;
	}
}

.button--small {
	padding: rem-calc(10 35);
}

.readmore {
	font-weight: 900;
	letter-spacing: 1px;
	color: $white;
	border-bottom: 1px solid $white;
	border-right: 4px solid transparent;
	padding: rem-calc(0 4 4 0);

	&:hover {
		color: $white;
		border-bottom-width: 2px;
	}
}

footer {
	text-align: center;
	padding: $global-padding*2 $global-padding;
	background: $primary;

	background: linear-gradient(20deg, $red 0%, $purple 80%);

	p {
		margin:0;
		font-weight: 900;
		color: darken($primary, 10%);
	}

	p a {
		color: $primary;
		margin: rem-calc(5 15);
		text-decoration: none;
		border-bottom: 2px solid rgba($primary, 0.1);

		&:hover {
			border-bottom: 2px solid $primary;
		}
	}
}