
    <footer>
        <p>Copyright Michael Gunner &copy;2018.</p>
        <p><a target="_blank" rel="noopener" href="https://github.com/brightonmike">Github</a><a target="_blank" rel="noopener" href="https://twitter.com/mmjg2011">Twitter</a></p>
    </footer>

    <script src="{{ .Site.BaseURL }}js/bullets.js"></script>
    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js', { scope: '/' })
                .then(function(registration) {
                    console.log('Service Worker Registered');
                });

            navigator.serviceWorker
                .ready
                .then(function(registration) {
                    console.log('Service Worker Ready');
                });
        }
    </script>    
</body>
<html>
