{{ partial "header.html" . }}
<div class="home">

    <header class="hero">
        <h1>Michael Gunner</h1>
        <h3>Frontend<br>developer</h3>
    
        <div class="intro">
            <h4>In goes code.<br>Out goes website.</h4>
            <p>Fast loading, accessible and flexible builds.</p>
            <a class="button button--svg" href="#start" title="button to scroll down">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve" width="512px" height="512px"><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093   "/>
                </svg>            
            </a>
        </div>

    </header>
</div>

    <main class="articlegroup" id="start">
        <h6>Writings</h6>
        {{ range first 12 .Data.Pages }}
        {{ if eq .Type "posts" }}
                <article class="article">
                    <a class="article__inner" href="{{ .Permalink }}">
                        <h3 class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
                        <h2>
                        {{ .Title }}
                        </h2>
                        <p href="{{ .Permalink }}" class="readmore">
                            Read the full article
                        </p>
                    </a>
                </article>
        {{ end }}
        {{ end }}
    </main>

    <section class="articlegroup articlegroup--work">
        <h6>Work</h6>

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">Pattern Library</h4>
                    <h5>City Pantry</h5>
                    <p>Working for Neptik, I built and implemented a pattern library for City Pantry, working with their in-house development team on their Angular website.</p>
                    <a href="https://citypantry.com" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>   

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">WordPress</h4>
                    <h5>Journeys by Design</h5>
                    <p>Another Neptik project, this was a super large WordPress build with around 1,500 pages. I built the site and utilised SVG techniques to create stunning visuals.</p>
                    <a href="https://journeysbydesign.com" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>   

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">Pattern Library</h4>
                    <h5>Patrol Store</h5>
                    <p>Working for WATB, this involved taking an existing E-commerce website and applying new branding and designs to the layouts, refreshing the look and feel of the site.</p>
                    <a href="https://patrolstore.com" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>   

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">WordPress</h4>
                    <h5>Shippo</h5>
                    <p>Surrey Digital Awards 2017 best B2B website winner. A WordPress site and my final project before leaving WATB, it has an integrated shipping tracker which connects to Podio.</p>
                    <a href="http://shippo.co.uk" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>   

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">WordPress</h4>
                    <h5>Pharm@Sea</h5>
                    <p>An exciting Neptik project was to create the website for an NHS-owned and backed pharmacy at Royal Sussex County Hospital in Brighton.</p>
                    <a href="http://pharmatsea.co.uk" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>   

            <article class="article article--work">
                <div class="article__inner">
                    <h4 class="meta">WordPress</h4>
                    <h5>Infinity Foods</h5>
                    <p>Working for Neptik, I built a unique site for this local Brighton co-operative. It was fun to work with the organic and natural styles, giving the site a feel that perfectly matched the business.</p>
                    <a href="http://infinityfoodsretail.coop/" target="_blank" rel="noreferrer noopener" class="readmore">View the project</a>
                </div>
            </article>                                                        
    </section>

</div>

{{ partial "footer.html" . }}
