{{ partial "header.html" . }}
<div class="home">

    <header class="hero">

        <h1>Michael Gunner</h1>
        <h3>Frontend<br>developer</h3>

    </header>

    <aside class="intro">
        <h4>In goes code. Out goes website.</h4>
        <p>I work for a small agency in Brighton, building websites, pattern libraries and other digital products. I believe in a fast loading, easy to use and enjoyable end result. Accessiblity, flexibility and well written code are also important beliefs.</p>
        <a class="button button--secondary" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=hY7m5jjJ9mM">click for cats</a>

    </aside>

    <main class="articlegroup">
        <h6>Writings</h6>
        {{ range first 2 .Data.Pages }}
        {{ if eq .Type "posts" }}
                <article class="article">
                    <div class="article__inner">
                        <h2>
                        <!-- {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }} -->
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </h2>
                        <img src="">

                        <p>{{ .Summary }}</p>
                        <a href="{{ .Permalink }}" class="readmore">
                            Read the full article
                        </a>
                    </div>
                </article>
        {{ end }}
        {{ end }}
    </main>


</div>
{{ partial "footer.html" . }}