{{ partial "header.html" . }}
<div class="home">

    <header class="hero">

        <h1>I am a...</h1>
        <h3>Frontend<br>developer</h3>

    </header>

    <aside class="intro">
        <h4>In goes code. Out goes website.</h4>
        <p>I work for a small agency in Brighton, building websites, pattern libraries and other digital products. I believe in a fast loading, easy to use and enjoyable end result. Accessiblity, flexibility and well written code are also important beliefs.</p>
        <a class="button button--secondary" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=hY7m5jjJ9mM">click for cats</a>

<!--         <div class="wave">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="1600px" height="640px" viewBox="0 0 1600 640" enable-background="new 0 0 1600 640" xml:space="preserve">
            <path opacity="0.5" fill="#1AAAAA" d="M0,210.358c0,0,328.667-66.858,532,77.642s376.499,228.341,664,242
                c294.666,14,404-131.32,404-131.32V640H0V210.358z"/>
            <path opacity="0.5" fill="#33D1A0" d="M0,640h1600V517.545c0,0-88.141,49.708-332,43.455c-312-8-522-224.5-820-286
                S0,269.976,0,269.976V640z"/>
            <path opacity="0.5" fill="#118699" d="M0,337.408c0,0,131.333-123.908,450.667-82.408C770,296.5,850.463,605.396,1218.666,619
                C1489.334,629,1600,536.149,1600,536.149V640H0V337.408z"/>
            <path opacity="0.5" fill="#0D6C7C" d="M0,333.854c0,0,154.699-64.944,400-16.854c321.333,63,433.334,283,801.334,292
                C1498.511,616.268,1600,470.717,1600,470.717V640H0V333.854z"/>
            </svg>
        </div> -->
    </aside>

    <main class="articlegroup">
        <h6>Writings</h6>
        {{ range first 2 .Data.Pages }}
        {{ if eq .Type "posts" }}
                <article class="article">
                    <div class="article__inner">
                        <h2>
                        <!-- {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }} -->
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </h2>
                        <img src="">

                        <p>{{ .Summary }}</p>
                        <a href="{{ .Permalink }}" class="readmore">
                            Read the full article
                        </a>
                    </div>
                </article>
        {{ end }}
        {{ end }}
    </main>

    <footer>
        <p>Copyright Michael Gunner &copy;2017.</p>
    </footer>

</div>
{{ partial "footer.html" . }}